{# Markup for the styleguide display of this module. #}
<div class="event {{modifier_class}}">
  {% if modifier_class != 'event--caption' %}
    <div class="event__datetime">
      <div class="event__date">{{date}}</div>
      <div class="event__datetime-separator"> | </div>
      <div class="event__time">{{time}}</div>
    </div>
  {% endif %}
  <h3 class="event__title"><a href="{{url}}">{{title}}</a></h3>
  {% if modifier_class == 'event--caption' %}
    <div class="event__datetime">
      <div class="event__date">{{date}}</div>
      <div class="event__datetime-separator"> | </div>
      <div class="event__time">{{time}}</div>
    </div>
  {% endif %}
  {% if modifier_class != 'event--caption' %}
    <div class="event__summary">
      {{summary}}
    </div>
    <div class="event__location">
      <div class="event__location-label">Location:</div>
      <div class="event__location-item">{{location}}</div>
    </div>
    <div class="event__type">
      <div class="event__type-label">Event type:</div>
      <div class="event__type-item">{{event_type}}</div>
    </div>
  {% endif %}
</div>
