{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
<header role="banner">
  {% if logo %}
    <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
    </a>
  {% endif %}

  {% if site_name or site_slogan %}
    {% if site_name %}
      <h1>
        <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
      </h1>
    {% endif %}

    {% if site_slogan %}
      <div>{{ site_slogan }}</div>
    {% endif %}
  {% endif %}
</header>

{{ page.messages }}

<main role="main">
  {% if title %}
    <h1>{{ title }}</h1>
  {% endif %}

  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

  <div class="layout-content">
    {{ page.content }}
  </div>{# /.layout-content #}
</main>

{% if page.sidebar %}
  <aside class="layout-sidebar" role="complementary">
    {{ page.sidebar }}
  </aside>{# /.layout-sidebar #}
{% endif %}

{% if page.footer_first %}
  <footer class="footer footer--first" role="contentinfo">
    {{ page.footer_first }}
  </footer>
{% endif %}

{% if page.footer_second %}
  <footer class="footer footer--second" role="contentinfo">
    {{ page.footer_second }}
  </footer>
{% endif %}

{% if page.footer_third %}
  <footer class="footer footer--third" role="contentinfo">
    {{ page.footer_third }}
  </footer>
{% endif %}
