{#
/**
 * @file
 * Component for a breadcrumb trail.
 *
 * Variables:
 * - modifier_class: [string] Classes to modify the default component styling.
 * - heading: [string] Accessible heading.
 * - breadcrumb: [array] The breadcrumb trail items. Each item is an object
 *   containing:
 *   - text: [string] Text of the item.
 *   - url: [string] URL of the item (optional).
 */
#}
{{ attach_library('project_s/breadcrumb') }}
<section class="breadcrumb-container">
  <nav class="breadcrumb {{modifier_class}}" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ heading|default('You are here') }}</h2>
    <ol class="breadcrumb__list">
      {% for item in breadcrumb %}
        <li class="breadcrumb__item">
          {% if item.url %}
            <a href="{{ item.url }}" class="breadcrumb__link">{{ item.text }}</a>
          {% else %}
            <a href="#" class="breadcrumb__link breadcrumb-active">{{ item.text }}</a>
          {% endif %}
          {% if not loop.last %}
            <span class="breadcrumb__divider">〉</span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  </nav>
</section>
