{# Markup for the styleguide display of this module. #}
{% if image_small %}
  {% set image = 'yes' %}
{% endif %}
{% if image_none %}
  {% set image = '' %}
  {% set image_class = 'people-profile--no-image' %}
{% endif %}

{% block profile_item %}
  <div class="people-profile {{modifier_class}} {{image_class}}">
    <div class="people-profile__main">

      {% if modifier_class == 'people-profile--listing' %}
        <div class="people-profile__header">
          {% if image %}
            <div class="people-profile__image-wrapper">
              <a href="#"><img class="people-profile__image" src="{{image_small}}" /></a>
            </div>
          {% endif %}
          <div class="people-profile__header-body">
            <div class="people-profile__basics">
              <h3 class="people-profile__name"><a href="#">{{name}}</a></h3>
              <div class="people-profile__work-title">{{work_title}}</div>
              <div class="people-profile__email"><div class="people-profile__email-label">Email:</div> <a href="mailto:{{email}}">{{email}}</a></div>
            </div>
            <div class="people-profile__summary">
              <p>{{summary}}</p>
            </div>
          </div>
        </div>

      {% elseif modifier_class == 'people-profile--simple' %}
        <div class="people-profile__header">
          {% if image %}
            <div class="people-profile__image-wrapper">
              <a href="#"><img class="people-profile__image" src="{{image_small}}" /></a>
            </div>
          {% endif %}
          <div class="people-profile__header-body">
            <div class="people-profile__basics">
              <h3 class="people-profile__name"><a href="#">{{name}}</a></h3>
              <div class="people-profile__work-title">{{work_title}}</div>
            </div>
            <div class="people-profile__summary">
              <p>{{summary}}</p>
            </div>
          </div>
        </div>

      {% elseif modifier_class == 'people-profile--spotlight' %}
        <div class="people-profile__header">
          {% if image %}
            <div class="people-profile__image-wrapper">
              <a href="#"><img class="people-profile__image" src="{{image_large}}" /></a>
            </div>
          {% endif %}
          <div class="people-profile__basics">
            <h3 class="people-profile__name"><a href="#">{{name}}</a></h3>
            <div class="people-profile__spotlight">
              <p>{{spotlight}}</p>
            </div>
            <a class="more-link" href="#">learn more</a>
          </div>
        </div>

      {% else %}
        <h1 class="people-profile__name">{{name}}</h1>
        <div class="people-profile__header">
          <div class="people-profile__image-wrapper">
            <img class="people-profile__image" src="{{image_large}}" />
          </div>
          <div class="people-profile__basics">
            <h2 class="people-profile__work-title">{{work_title}}</h2>
            <div class="people-profile__address">{{address}}</div>
            <div class="people-profile__phone">{{phone}}</div>
            <div class="people-profile__email"><div class="people-profile__email-label">Email:</div> <a href="mailto:{{email}}">{{email}}</a></div>
          </div>
        </div>
        <div class="people-profile__overview">
          <p>{{overview}}</p>
        </div>
        <div class="people-profile__research-focus">
          <h2>Research Focus</h2>
          <p>{{research_focus}}</p>
        </div>
        <div class="people-profile__outreach-focus">
          <h2>Outreach and Extension Focus</h2>
          <p>{{outreach_focus}}</p>
        </div>
        <div class="people-profile__instruction-focus">
          <h2>Teaching Focus</h2>
          <p>{{instruction_focus}}</p>
        </div>
        <div class="people-profile__additional-links">
          <h2>Additional Links</h2>
          <p>{{additional_links}}</p>
        </div>
        <div class="people-profile__honors-and-awards">
          <h2>Awards and Honors</h2>
          <p>{{honors_and_awards}}</p>
        </div>
        <div class="people-profile__publications">
          <h2>Selected Publications</h2>
          <p>{{publications}}</p>
        </div>
      {% endif %}

    </div>

    {% if modifier_class != 'people-profile--listing' and modifier_class != 'people-profile--spotlight' and modifier_class != 'people-profile--simple' %}
      <div class="people-profile__sidebar">
        <div class="people-profile__departments">
          <h2>Appointments</h2>
          <p>{{departments}}</p>
        </div>
        <div class="people-profile__concentrations">
          <h2>Areas of Expertise</h2>
          <p>{{concentrations}}</p>
        </div>
        <div class="people-profile__acadvise-graduate">
          <h2>Graduate Fields</h2>
          <p>{{acadvise_graduate}}</p>
        </div>
        <div class="people-profile__education">
          <h2>Education</h2>
          <p>{{education}}</p>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}
